# Section 5

## For Loops

In [6]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### Print out whether the numbers in the list are ODD or EVEN

In [7]:
for item in mylist:
    if item % 2 == 0:
        print(f"Even:\t{item}")
    else:
        print(f"Odd:\t{item}")

Odd:	1
Even:	2
Odd:	3
Even:	4
Odd:	5
Even:	6
Odd:	7
Even:	8
Odd:	9
Even:	10

#### Sum of all numbers in the list

In [8]:
mylist_sum = 0

for item in mylist:
    mylist_sum += item

print(f"The sum of all numbers in mylist: {mylist_sum}")

The sum of all numbers in mylist: 55

#### Print out individual letters of a string

In [9]:
mystring = "An example of a really good string to use."

for letter in mystring:
    print(letter, end=" ")

A n   e x a m p l e   o f   a   r e a l l y   g o o d   s t r i n g   t o   u s e .

#### Iterating through string length without using string characters

In [11]:
for _ in mystring:
    print(0, end=" ")

0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

#### Iterate through elements of a tuple

In [13]:
tup = (1, 2, 3)

for item in tup:
    print(item)

1
2
3

#### Tuple unpacking

In [15]:
mylist = [(1, 2), (3, 4), (5, 6), (7, 8)]
len(mylist)

4

In [16]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [17]:
for a, b in mylist:
    print(a, b)

1 2
3 4
5 6
7 8

In [1]:
mylist = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [3]:
for item in mylist:
    print(item)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

In [4]:
for a, b, c in mylist:
    print(c)

3
6
9

#### Iterating through a dictionary

In [7]:
d = {"k1": 1, "k2": 2, "k3": 3}

Iterating through items in dictionary by default iterates through its keys

In [9]:
for item in d:
    print(item)

k1
k2
k3

To iterate through the items, use the items method

In [11]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

There are also keys and values methods

In [18]:
for item in d.keys():
    print(item)

k1
k2
k3

In [19]:
for item in d.values():
    print(item)

1
2
3